{% extends 'email/email_base.html' %}

{% block main %}

<p>
    Thank you for joining us at WriteHere. <br /><br />

    The site is still young, so I'm thrilled that you've chosen to join our community.<br /><br />

    I hope you find regular inspiration to share your opinions and original writing, and to add your comments to the opinions, stories and poetry of other writers.<br /><br />

    And please be sure to read the site 
    <a href="http://www.writehere.com/guidelines"> Guidelines</a> before your first post :)<br /><br />

    If you have any comments or suggestions, I'd always love to hear from you. The more feedback I get, the better WriteHere can be. <br /><br />
    
    Meanwhile, I look forward to reading your writing on the site.<br /><br />

    Regards,<br /><br />

    Cameron Kellock<br />
    Founder<br /><br />
    <img src="http://writehere.com/static/img/original_logos/write-here-logo-160.png" title="writehere.com" /><br/><br/>

    <span style="font-size: 10px">
        Contribute your opinions on the issues and interests important to you : <a href="http://writehere.com">WriteHere.com</a><br/>
        Follow on Twitter : <a href="http://twitter.com/weWriteHere">@weWriteHere</a><br/>
        Email me any time : <a href="mailto:cameron@writehere.com">cameron@writehere.com</a><br/>
    </span>
</p>

{% endblock %}
