<div id="accordion-info" class="accordion">
    {{mdp.start|safe}}
    {% for a in mdp.x %}
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" 
              data-parent="#accordion-info" href="#{{loop.index}}">
              {{a.heading}}
          </a>
        </div>
        <div id="{{loop.index}}" class="accordion-body collapse">
            <div class="accordion-inner">
              {{a.inner|safe}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
