{% extends 'account_base.html' %}
{% from '_macros.html' import render_field %}

{% block title %}: change password{% endblock %}

{% block content %}
<h3>change your password:</h3>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.password, class_='required wide-field') }}
    {{ render_field(form.confirm, class_='required wide-field') }}
    <div class="actions">
    <button type="submit" class="btn btn-primary pull-right">change password</button>
    </div>
</form>
{% endblock %}
