{% extends 'base.html' %}
{% from '_macros.html' import raw_field %}

{% block main %}

<div id="gridContainer" class="normal-page">

    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-block alert-{{category}}">
                    <a href="#" class="close" onclick="$(this).parent().remove();">&times;</a>
                    <div>{{ message }}</div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <h3>Please choose a new password:</h3>
                <form action="{{ url_for('account.reset_password', user_id=user_id, reset_code=reset_code) }}" method="POST">
                    {{ form.hidden_tag() }}
                    {{ raw_field(form.password, placeholder="* Password") }}<br />
                    {{ raw_field(form.confirm, placeholder="* Confirm") }}<br /><br />
                    <button type="submit" class="well-small blue-button">Change Password</button>
                </form>



            </div>
        </div>
    </div>
</div>
{% endblock %}
