<script type="text/x-tmpl" id="welcomeTemplate">
<div class="well" id="loginWindow">
    <a href="#" class="close" onclick="$(this).parent().hide(); return false;">&times;</a>
    <!--<div id="loginLogo">
        <img src="{{ url_for('static', filename='img/write-here-logo-370.png') }}" />
    </div>-->

    <div id="loginWelcomeMessage" style="margin-top: -10px;">
        <span style="line-height:normal !important; letter-spacing: normal; font-size: 14px;">
            <h3>Have an opinion?</h3>

            <p>Is there an issue you care about? Do you have news or information to share?</p>

            <p>Now, you can WriteHere.</p>

            <p>WriteHere is a virtual Speakers' Corner for writers; a soapbox on which any writer can stand and
            address a worldwide audience, on any topic; a global forum for discussion and debate.</p>

            <p>When you WriteHere, your post sits alongside all the others on the same subject.
            Your words join and add to a conversation, open to all interested readers.</p>

            <p>WriteHere has a humble aim: to change the way we share our opinions and information.</p>

            <p>If we can collect our thoughts, gather the spectrum of ideas and inspirations, and bring people
            together, we might even make a few other changes along the way. </p>

            <p>Thank you for being among the first to visit WriteHere. I hope you like it, and feel inspired to
            write an opinion, or two. </p>

            <p>If you have an opinion on the site, positive or not, I'd love to hear from you. To those of you
            who have already sent comments and suggestions, I thank you for your insights and advice. I
            appreciate your feedback more than you will know. </p>

            Cameron, <a href="mailto:cameron@writehere.com">cameron@writehere.com</a><br />
            <!-- So … what have you got to say?-->
        </span>

        <a href="#" class="well-small blue-button login-live-button"  id="loginLiveButton" onclick="return false;" style="margin-top:30px;">Sign in</a>
        <a href="#" class="well-small blue-button create-live-button"  id="createLiveButton" onclick="return false;" style="margin-top:30px;">Create Account</a>
    </div>

</div>
</script>
