{% from '_macros.html' import raw_field, social_login_icon %}
<script type="text/x-tmpl" id="forgotPasswordTemplate">
    <div class="well" id="loginWindow">
        <a href="#" class="close" onclick="$(this).parent().hide(); return false;">&times;</a>
        <div id="loginLogo">
            <img src="{{ url_for('static', filename='img/write-here-logo-370.png') }}" />
        </div>

        <div id="loginWelcomeMessage">

            <div style="font-size:26px;text-align: center; margin-bottom: 10px;  ">
                <div style="margin-bottom: 50px;">Don't worry, we'll send you a new password.</div>
                <form action="{{ url_for('account.forgot_password') }}" method="POST" id="forgotPasswordForm">
                    {{ forgot_password_form.hidden_tag() }}
                    {{ raw_field(forgot_password_form.email, placeholder="Email", class_="forgot-password-field") }}<br />

                    <!--<div id="forgotPasswordErrorMessage" class="well-small alert-danger" style="font-size: 12px;"></div>-->
                    <div id="forgotPasswordMessage" class="well-small alert-info hide" style="font-size: 12px;"></div>

                    <!--<input type="submit" class="well-small blue-button"  value="Submit">-->
                    <div style="display:block; margin-top: 50px;">
                        <a href="#" class="well-small blue-button" style="font-size: 14px; line-height:1; letter-spacing: normal; width: 120px; " id="forgotPasswordButton" onclick="return false;">Submit</a>
                    </div>
                </form>
            </div>

        </div>


    </div>
</script>
