            <ul class="span6 unstyled">
                <li><a tabindex="-1" href="#"> advice wanted </a></li>
                <li><a tabindex="-1" href="#"> education & school </a></li>
                <li><a tabindex="-1" href="#"> film, tv, music & books </a></li>
                <li><a tabindex="-1" href="#"> health & fitness </a></li>
                <li><a tabindex="-1" href="#"> humour </a></li>
                <li><a tabindex="-1" href="#"> love & relationships </a></li>
                <li><a tabindex="-1" href="#"> my life </a></li>
                <li><a tabindex="-1" href="#"> observations </a></li>
                <li><a tabindex="-1" href="#"> people </a></li>
                <li><a tabindex="-1" href="#"> politics </a></li>
            </ul>
            <ul class="span6 unstyled">
                <li><a tabindex="-1" href="#"> random thoughts </a></li>
                <li><a tabindex="-1" href="#"> religion & faith </a></li>
                <li><a tabindex="-1" href="#"> original fiction & poetry </a></li>
                <li><a tabindex="-1" href="#"> social interactions </a></li>
                <li><a tabindex="-1" href="#"> sports </a></li>
                <li><a tabindex="-1" href="#"> technology </a></li>
                <li><a tabindex="-1" href="#"> travel </a></li>
                <li><a tabindex="-1" href="#"> true stories </a></li>
                <li><a tabindex="-1" href="#"> writing & blogging </a></li>
            </ul>
