{% from '_macros.html' import raw_field %}

{% extends 'mdl_landing_base.html' %}

{% block mdl_id %}mdl_forgot_password{% endblock %}

{% block mdl_header %}
<div class="mdl-logo-container">
    <img class="mdl-logo" src="/static/img/write-here-logo-370.png" alt="writehere">
</div>
{% endblock %}

{% block mdl_content %}
<h4 class="text-center">Don't worry, we'll help you to reset your password.</h4>
<form data-async data-target='#forgotPasswordMessage' 
    action="/account/forgot-password" method='POST'>
    {{ forgot_password_form.hidden_tag() }}
    <div class="forgot-password-email">
    {{ raw_field(forgot_password_form.email, type='email',placeholder="email", class_="forgot-password-field") }}
    </div>
    <div id="forgotPasswordMessage" class='hide'></div>
    <button type="submit" id="forgot-password-btn" class="btn btn-primary btn-wh">submit</button>
    <div class="clearfix"></div>
</form>
{% endblock %}
