
<div class="container-fluid" >

    <section id="profile-container" class="text-center">
            <div class="profile-content text-center">
        
        <div class="row-fluid">
            <div class="span8"><div class="profile-name">{{ this_user.profile.display_name|truncate(30,True) }}</div>
            {% if this_user.profile.location  %}
            <div class="profile-name-sub">at home in {{ this_user.profile.location }}</div>
            {% endif %}

            {% if user.is_authenticated %}
            {% if this_user.id != user.id %}
                {% if is_following %}
                <div class="follow-profile-button-container text-center"><button id="btn-follow" class="follow-profile-button">unfollow my opinions</button></div>
                {% else %}
                <div class="follow-profile-button-container text-center"><button id="btn-follow" class="follow-profile-button">follow my opinions</button></div>
                {% endif %}
            {% endif %}
            {% endif %}
            
            </div>
            <div class="span4 profile-pic-container ">
                {% if this_user.avatar %}
                <img src="{{ url_for('media.show_avatar', user_id=this_user.id) }}"  class="img-polaroid my-page-avatar" />
                {% else %}
                <img src="{{ url_for('static', filename='img/avatar.png') }}" class="img-polaroid my-page-avatar" />
                {% endif %}
                
            </div>
        </div>
            
        </div>
        <div class="row-fluid profile-content text-center">
            <div class="span3 text-center">
                <p class="follow-items-header">Opinions</p>
                <p class="follow-items-content"><strong> <a href="{{this_user.my_page_url}}">
                {{ this_user.opinion_count }}
                </a></strong>
                </p>
            </div>
            <div class="span3 text-center">
                <p class="follow-items-header">Comments</p>
                <p class="follow-items-content"><strong>{{ this_user.comment_count }}</strong></p>
            </div>
            <div class="span3 text-center">
                <p class="follow-items-header">Followers</p>
                <p class="follow-items-content"><strong><a href="{{this_user.followers_url}}">
                <span id="followers">{{ this_user.follower_count }}</span></a></strong></p>
            </div>
            <div class="span3 text-center">
                <p class="follow-items-header">Following</p>
                <p class="follow-items-content"><strong> <a href="{{this_user.following_url}}">
                <span id="following">{{ this_user.following_count }}</span>
           
                </a></strong></p>
            </div>
        </div>
    </section>
</div>
<!--
<div id="my-page-header">
<div id="my-page-header-inner">
    <div class="pull-left">
        
    </div>
    <div class="my-page-header-left pull-left">
        {% if this_user.id == user.id %}
        <div class="welcome-back">welcome back</div>
        {% endif %}
        <h2></h2>
        {% if user.is_authenticated %}
        {% if this_user.id != user.id %}
            {% if is_following %}
            <button id="btn-follow" class="btn btn-primary disabled">unfollow my opinions</button>
            {% else %}
            <button id="btn-follow" class="btn btn-primary">follow my opinions</button>
            {% endif %}
        {% endif %}
        {% endif %}
    </div>
    <ul class="pull-right my-stat nav nav-pills">
        <li class="stat-number right-border {{active_opinions}}">
            <a href="{{this_user.my_page_url}}">
            <h2>{{ this_user.opinion_count }}</h2>
            <div class="stat-name">opinions</div>
            </a>
        </li>
        <li class="stat-number right-border {{active_comment}}">
            <div class="fake-nav-a">
            <h2>{{ this_user.comment_count }}</h2>
            <div class="stat-name">comments</div>
            </div>
        </li>
        <li class="stat-number right-border {{active_followers}}">
            {% if this_user == user %}
            {% if this_user.new_followers() %}
            <span class="badge badge-success">{{this_user.new_followers()}}</span>
            {% endif %}
            {% endif %}
            <a href="{{this_user.followers_url}}">
            <h2 id="followers">{{ this_user.follower_count }}</h2>
            <div class="stat-name">followers</div>
            </a>
        </li>
        <li class="stat-number {{active_following}}">
            <a href="{{this_user.following_url}}">
            <h2 id="following">{{ this_user.following_count }}</h2>
            <div class="stat-name">following</div>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
</div>
-->