<div id="flagContent" class=''>
<span class="shadow-select">
    <select id='post-flag'>
        <option value="">flag this opinion</option>
        <option value="abusive">abusive</option>
        <option value="copyright">copyright</option>
        <option value="imposter">imposter</option>
        <option value="offensive">offensive</option>
        <option value="trademark">trademark</option>
        <option value="spam">spam</option>
    </select>
</span>
</div>

{% include 'about_the_writer.html' %}

<div id="got-a-comment" class="post-right-common">
<div id='got-comment' class="alert well bg-white black">
<button type="button" class="close close-circle" data-dismiss="alert">&times;</button>
<h5>got a comment?</h5>
<p>to be part of the conversation simply highlight any sentence to make your comment.</p> 
</div>
</div>

